.navbar-brand {
    padding-left: 15%;
  }
  
  .nav-item {
    padding-right: 20px;
  }
  .nav-content{
    margin-right:15%;
  }



body{
    background-color:#E8F9FD;
}


.content{
    padding:50px;
}